*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    display: flex;
    height: 100vh;
    width: 200vh;
    background-color: black;
}

.container{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-image: url('images/spa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;
    margin: 25px;
    padding-left: 120px;
    padding-right: 30px;
    
}

.navbar{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    
    
}
.navleft{
    display: flex;
    margin-right: 120px;
    margin-top: -13px;
    
}
.navcenter{
    display: flex;
    gap: 35px;
    color: var(--Dark-Blue, #264065);
    font-size: 18px;
    font-weight: 400;

        

}
.navright{
    display: flex;
    gap: 30px;
    margin-left: 105px;
}

.more{
    margin-left: -25px;
}

.search{
    display: flex;
    gap: 20px;
    margin-top: -5px;
}

.sign{
    display: flex;
    gap: 20px;
}
.signintext{
    color: var(--Dark-Blue, #264065);
    font-size: 18px;
    font-weight: 400;
}

.signupbutton{
    background-color: #264065;
    width: 100px;
    height: 40px;
    margin-top: -6px;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 32px;
}


.glow{
    color: var(--Dark-Blue, #264065);
    font-size: 36px;
    font-weight: 600;

}
.queen{
    color: var(--Cyan, #A9D6CB); 
    font-size: 36px;
    font-weight: 600;
}

.groups{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    padding-left: 50px;
    gap: 80px;
 
}
.firstgroup{
    color: var(--Dark-Blue, #264065);
    font-size: 40px;
    font-weight: 900;
}

.headings{
  margin-top: 60px;  
}
.secondgroup{
    color: var(--Gray-2, #909090);
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    line-height: 24px;
}

.buttonandfriends{
    display: flex;
}

.button{
    margin-top: 25px;
    background-color: #264065;
    width: 140px;
    height: 45px;
    border-radius: 32px;
    padding: 15px;
    text-align: center;
    color: white;
}

.watchvideo{
    width: 150;
    height: 50px;
}

.icon, .icon2, .icon3{
    width: 40px;
    height: 40px;
    justify-items: center;
}

.fifteen, .twentyfive, .hundred{
    color: var(--Dark-Blue, #264065);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.special, .treatment1, .professional, .terapist, .herbal, .cream{
    color: var(--Gray-2, #909090);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
}

.beautifulwoman{
    
    margin-left: -270px;
    margin-top: -40px;
}

.bigimage{
    width: 880px;
    height:620px;
}


.spacontent{
    display: flex;
}

.quote{
    position: relative;
}

.quote1{
   width: 240px;
   height: 145px;
   border-radius: 16px;
   background: rgba(255, 255, 255, 0.50);
   backdrop-filter: blur(8px);
   padding: 14px;
   position:absolute;
   bottom: 230px;
   right: 10px;
}
.quote2{
    width: 240px;
    height: 145px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(8px);
    padding: 14px;
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.stripe{
    width: 20px;
    height: 12px;
    margin-bottom: 3px;
}
.stripe2{
    width: 20px;
    height: 13px;
    margin-bottom: 3px;
}

.paragraph1, .paragraph2{
    color: var(--Black, #070D15);
    font-size: 13px;
    font-weight: 400;
}

.name{
    margin-top: 5px;
    font-size: 13px;
    color: #264065;
    font-weight: bold;
}

